[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

.header {
    background-image: url("../afbeeldingen/haaften_mob.png");
    background-repeat: no-repeat;
    height: 150px;
    object-fit: contain;
    max-width: 100%;
    color: white;
    font-size: 20pt;
    margin-bottom: 10pt;
}
@media only screen and (min-width: 600px) {
  .header {
    background-image: url("../afbeeldingen/haaften.jpg");
    background-repeat: no-repeat;
    height: 300px;
    max-width: 100%;
    color: white;
    font-size: 20pt;
    margin-bottom: 10pt;
}
}
.header h1 {
    padding-left: 50px;
}

.bezienswaardigheden img{
    display: inline;
    float: right;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 10px;
    padding-left: 15px;
} @media only screen and (min-width: 600px) {
  .bezienswaardigheden img {
    float: right;
    width: auto;
    height: 100%;
    filter: none;
  }
}

.bezienswaardigheden {
    background-color: #414d3b;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
    color: white;
} @media only screen and (min-width: 600px) {
.bezienswaardigheden {
    background-color: #a6bd80;
    padding: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    position: relative;
    color: black;
}
}

.bezienswaardigheden p {
    max-width: 100%;
    text-align: justify;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 10pt;
    max-width: 100%;
}

.credits {
    font-size: 8pt;
}

footer {
    display: block;
    background-color: #777160;
    position:  relative ;
    height: 30px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: white;
  } @media only screen and (min-width: 600px) {
  footer {
    display: block;
    background-color: #74863b;
    position:  relative ;
    height: 50px;
    width: 100%;
    text-align: center;
    color: black;
    max-width: 100%;
    }
}

h1, h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
  } @media only screen and (min-width: 600px) {
h1, h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    }
}


a:link {
    color: #777160;
}
a:visited {
    color: white;
}
a:hover {
    color: black;
}
a:active {
    color: white;
}
